<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- se agrega xmlns para poder usar thymeleaf y poder pasarle datos a la vista del controlador -->
<head>
<meta charset="UTF-8" />
<!-- Reemplaza los datos del title o mas abajo del h1 por lo que le pasamos, el nombre debe ser igual al que le pasamos en model -->
<!-- Se pasa con "${}" -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<title th:text="${titulo}"></title>
</head>
<body>
<h1 class="color-rojo" th:text="${titulo}"></h1>
<h2 class="color-azul">Decorando con css</h2>
<img th:src="@{/images/ASPdotNET_logo.jpg}"></img>
</body>
</html>